*{
  box-sizing: border-box;
  
}
.quienSom{
  padding-left: 15px;
  font-size: 25px;
}
body {
  display: grid;
  grid-template-areas:
  "header header header header"
    "main main main main"
    "footer footer footer footer";
}
header {
  grid-area: header;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

header .logoLatinChina {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 16px;

}

header .logoLatinChina .nombreEmpresa {
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

header .logoLatinChina img {
  margin: 0;
}


.nombreEmpresa {
  font-size: 35px;
}
nav {
  flex-grow: 1;
}

.misPestanas {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.misPestanas li {
  margin-right: 8px;
  margin-left: 8px;
}
.misPestanas li a{
  font-size: xx-large;
  color: black;
  text-decoration: none;
  
}
.misPestanas li a:hover, .misPestanas li a.active{
  color:blueviolet;
  border-bottom: 2px solid;
}
.watIcon {
  margin-left: 10px;
}

/* pagina industrias */


footer {
  grid-area: footer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo {
  display: flex;
  align-items: center;
}

.mailF {
  margin-right: 10px;
  font-size: large;
}

.legalesF {
  margin-right: 10px;
  font-size: large;
}

.mapaF {
  height: 30vh;
  size: 50px;
}
main{
  display: flex;
  grid-area: main;
  background-color: aquamarine;
  background-image: url('/img/45degreee_fabric.webp');
  background-repeat: repeat;
  justify-content: center;
  align-items: center;
  flex-flow: column
}
.footerGeneral {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  }
  .footerGeneral .logo .mailF .legalesF .mapaF{
    justify-content: center;
    margin-top: 10px;
  }

/*  dispositivos celulares */
@media only screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  header {
    flex-direction: column;
    align-items: flex-start;
  }
  header .logoLatinChina {
    display: flex;
    flex-direction: column;
    margin-right: 8px;
    align-content: center;
    justify-content: center;
  }
  

  .logoLatinChina {
    display: flex;
    margin-right: 8px;
  }

  .nombreEmpresa {
    font-size: 1rem;
  }

  nav {
    flex-grow: 0;
    margin-bottom: 10px;
  }

  .misPestanas {
    flex-direction: column;
    align-items: center;
  }

  .misPestanas li {
    margin-right: 0;
    margin-bottom: 5px;
  }

  main {
    display: flex;
    font-size: small;
    grid-area: main;
    background-color: aquamarine;
    background-image: url('/img/45degreee_fabric.webp');
    background-repeat: repeat;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }

  .footerGeneral {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    }
    .footerGeneral .logo .mailF .legalesF .mapaF{
      justify-content: center;
      margin-top: 10px;
    }
    

  main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }

  footer .logo {
    display: flex;
    justify-content: center;
  }

}
/* INUSTRIAS */
.cardsIndus {
  display: flex;
  justify-content: space-between;
}

/* INUSTRIAS */
.misPestanas li {
  margin-right: 10px;
  text-decoration: none;
}

.watIcon {
  justify-self: end;
  margin-right: 10px;
}

.iconWa {
  width: 75px;
  height: 75px;
}

/* CONTACTO */

main .conTacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 20px;
    padding: 20px;
}



/* MEDIA QUERY CORRECCIION DIV VIDEO */
@media only screen and (max-width: 400px) {
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 20px;
  }

  main .video {
    width: 100%;
    height: auto;
  }

  main iframe {
    width: auto;
    height: auto;
  }
}
